@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Permanent+Marker&display=swap');

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
}

button {
    all: unset;
    display: inline-block;
    padding: 0.5em;
    border: 0.5px solid #000;
    border-radius: 0.15em;
    font-size: 500;
    color: black;
    transition: all 0.1s;
}

button:hover {
    color: #fff;
    background-color: #333;
}

button:active {
    background-color: #6e6e6e;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", 'Courier New', Courier, monospace;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333;
    border: 1px solid #333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}